# XCode
*.DS_Store
Pods/
build/
DerivedData/
xcuserdata/
*.ipa

# Python
server/.idea/workspace.xml
server/flask/
server/.idea/server.iml
server/.idea/misc.xml
server/db_repository/*
server/cloudinary*
server/json
server/os.path
*.pyc

# Common
*.db
